* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #daeee8;
  padding: 20px;
  font-family: 'Poppins';
}
.wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper > aside {
  background-color: #fff;
  width: 360px;
  border: 2px solid #067365;
}

.my-photo {
  width: 356px;
}

.sidebar-info-container {
  margin-top: -200px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.sidebar-info-container > div {
  margin-top: 10px;
}

.sidebar-info-container h3 {
  color: #067365;
  font-family: 'Poppins Medium';
  font-size: px;
  font-weight: bold;
}

.sidebar-info-container a {
  color: #000;
}

.sidebar-info-container ul {
  padding-left: 15px;
}

.main-container {
  margin-left: 15px;
  width: 675px;
  text-align: justify;
}

.name-container {
  background-color: #067365;
  height: 115px;
  margin-bottom: 15px;
}

.name-container h1 {
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.name-container h1 > span {
  font-family: Monoton;
  font-size: 70px;
  font-weight: 400;
}

.main-container h2 {
  color: #067365;
  font-family: Poppins;
  font-weight: bold;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: center;
}

.main-container h3 {
  color: #067365;
  font-family: Poppins;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.59px;
  text-transform: uppercase;
  margin-top: 10px;
}

.info-container {
  background: #fff;
  margin-bottom: 10px;
  border: 2px solid #067365;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.info-title {
  color: #067365;
  font-family: Poppins;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.59px;
  text-transform: uppercase;
}

.info-container > div:first-of-type {
  margin-bottom: 10px;
}

.projects-list {
  color: #5e5e5e;
  font-family: 'Poppins Light';
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1.5px;
  padding-left: 25px;
}

.projects-item {
  color: #000000;
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.projects-link {
  color: #000000;
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.dots {
  color: #000000;
  font-family: Poppins;
  font-weight: 100;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.tech-name {
  color: #000000;
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.profession-title {
  color: #039a78;
  font-family: 'Poppins Medium';
  font-weight: bold;
  margin-top: 10px;
}

.profession-period {
  color: #5e5e5e;
  font-family: 'Poppins Light';
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1.5px;
  margin-top: 5px;
}

.education-container {
  background: #fff;
  border: 2px solid #067365;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
