* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #daeee8;
  padding: 20px;
  font-family: 'Poppins';
  font-size: 10px;
}
.wrapper {
  display: flex;
  max-width: 595px;
  margin: 0 auto;
}

.sidebar {
  background-color: #fff;
  width: 183px;
  border: 1px solid #067365;
}

.my-photo {
  width: 181px;
}

.main-container {
  margin-top: -100px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.sidebar-title {
  color: #039a78;
  font-family: 'Poppins Medium';
  font-size: 12px;
  font-weight: bold;
}

.contacts-container {
  margin-top: 10px;
}
.contacts-link {
  color: #000;
}

.skills-container {
  margin-top: 10px;
}

.languages-container {
  margin-top: 10px;
}

.sidebar-list {
  padding-left: 15px;
}

.about-me-container {
  margin-left: 10px;
  width: 337px;
  text-align: justify;
}

.name-container {
  background-color: #067365;
  height: 55px;
  margin-bottom: 10px;
}

.name {
  color: #fff;
  font-size: 33px;
  font-weight: bold;
  text-align: center;
}

.z {
  font-family: Monoton;
  font-size: 33px;
  font-weight: 400;
}

.info-container {
  background: #fff;
  margin-bottom: 10px;
  border: 1px solid #067365;
  padding: 10px;
}

.profession {
  color: #067365;
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: center;
}

.info-title {
  color: #067365;
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.59px;
  text-transform: uppercase;
}

.projects-container {
  margin-bottom: 10px;
}

.projects-list {
  color: #5e5e5e;
  font-family: 'Poppins Light';
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1.5px;
  padding-left: 25px;
}

.projects-item {
  color: #000000;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.projects-link {
  color: #000000;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.dots {
  color: #000000;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 100;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.tech-name {
  color: #000000;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.profession-title {
  color: #039a78;
  font-family: 'Poppins Medium';
  font-size: 12px;
  font-weight: bold;
}

.profession-period {
  color: #5e5e5e;
  font-family: 'Poppins Light';
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1.5px;
  margin-top: 5px;
}

.education-container {
  background: #fff;
  border: 1px solid #067365;
  padding: 10px;
}
